<%= link_to "Log out", logout_path, :method => :delete %>
<h1>Bienvenido!</h1>
<h2>Información del usuario</h2>
<ul>
  <li> Username: <%= @user.username %></li>
  <li> Fecha de nacimiento: <%= @user.dob %></li>
  <li> Plan: <%= @user.plan %></li>
  <li> Ciudad de residencia: <%= @user.city %></li>
  <li> Pais: <%= @user.country %></li>
</ul>

<table>
  <tr>
    <th>Movie</th>
    <th>Rating</th>
  </tr>
 
  <% @ratingsUser.where(user: @user.id).each do |movie| %>
    <tr>
      <td><%= link_to movie.title.to_s , showMovie_path(:data => movie.title.to_s)%></td>
      <td><%= movie.rating %></td>
    </tr>
  <% end %>
</table>